<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025524235727-5ca5gp8c62pdvt26l5q7m9rc3uaeqm57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025524235727-5ca5gp8c62pdvt26l5q7m9rc3uaeqm57</string>
	<key>API_KEY</key>
	<string>AIzaSyDL1n9edTmGfvUfch5GGuVKhFpV_zb6FgA</string>
	<key>GCM_SENDER_ID</key>
	<string>1025524235727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wangupullwitt.JurDat</string>
	<key>PROJECT_ID</key>
	<string>jurdat-35a35</string>
	<key>STORAGE_BUCKET</key>
	<string>jurdat-35a35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025524235727:ios:2d688373f2b3e672cf26ba</string>
</dict>
</plist>